*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    background: rgb(53, 53, 61);
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
} 

header{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
}

aside{
    width: 20%;
    height: 200px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.container{
    height: 100%;
}

main{
    width: 60%;
    height: 450px;
    float: left;
    padding-top: 15px;
}
aside .container{
    background-color: whitesmoke;
    margin-bottom: 10px;
}

main .container{
    background-color: whitesmoke;
}

section{
    float: right;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
section div{
    width: 15%;
    height: 150px;
    background-color: teal;
    float: left;
    margin-left: 4%;
}

footer{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
} 


